*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 30%;
    height: 200px;
    margin: 10% auto;
    background-color: lightsteelblue;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

#num-gen {
    margin: 20px 0;
    min-height: 50px;
    font-size: 40px;
    background-color: lightslategray;
}